<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Page Title</title>

</head>
<body>
<section class="py-5 text-center container">
    <div class="row py-lg-5">

        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Login (JWT)</h1>
            <h3 class="fw-light">Generate JWT Token</h3>
        </div>

        <main class="form-signin w-100 m-auto">
            <form method="post" th:action="@{/login}">

                <div style="padding: 15px;">
                    <label> User Name</label>
                </div>

                <div style="padding: 15px;">
                    <input id="username" name="username" type="text"/>
                </div>

                <div style="padding: 15px;">
                    <label>Password</label>
                </div>

                <div style="padding: 10px;">
                    <input name="password" type="password"/>
                </div>

                <div style="padding: 10px;">
                    <button  id="submit"  value="Generate">Generate</button>
                </div>

                <p id="message">
                </p>

                </p>


            </form>


        </main>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){



          $("#submit").click(function(e){

              var username = $("#username").val();
              var password = $("#password").val();

              var request = $.ajax({
              url: "/rest/auth/token",
              method: "GET",

              beforeSend: function (xhr) {
               xhr.setRequestHeader ("Authorization", "Basic " + btoa(username + ":" + password));
              },

            });

            request.done(function( msg ) {
              $( "#message" ).html("Token:  " +  msg );
              alert('OK')
            });

            request.fail(function( jqXHR, textStatus, x ) {

            console.log(jqXHR)
             if (jqXHR.status  == 401){
                $("#message").html("Authorization failed");
              }else{
                alert( "Request failed: " + textStatus + jqXHR.status );
              }
            });


             e.preventDefault();
          });



        });



    </script>

</section>
</body>

</html>