<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Users</title>
</head>
<body>
<section class="py-3 container">
    <div class="row py-lg-5">

        <main class="form-signin w-75 m-auto">


            <p class="lead text-body-secondary">Change Password</p>

            <div th:if="${authUserDetails != null}">

                <p th:text="|Username: ${authUserDetails.username}|"></p>

                <div class="container-sm">
                    <form method="post" th:action="@{/users/changePassword}">

                        <div class="mb-3" style="width: 50%;">
                            <label class="form-label" for="exampleFormControlInput4">Old Password</label>
                            <input class="form-control" id="exampleFormControlInput4" name="oldPassword"
                                   placeholder="oldPassword">
                        </div>


                        <div class="mb-3" style="width: 50%;">
                            <label class="form-label" for="exampleFormControlInput4">New Password</label>
                            <input class="form-control" id="exampleFormControlInput4" name="newPassword"
                                   placeholder="newPassword">
                        </div>

                        <div class="mb-3">
                            <input type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>

        </main>


    </div>
</section>
</body>
</html>