<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        li {
          display: inline;
        }
    </style>
</head>
<body>

<div th:fragment="nav">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/users/add">Add</a></li>
    <li><a href="#about">About</a></li>
</ul>
</div>

</body>
</html>


