<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Page Title</title>

</head>
<body>
<section class="py-5 text-center container">
    <div class="row py-lg-5">

        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">User Info </h1>
            <h3 class="fw-light">REST + JWT </h3>
        </div>

        <main class="form-signin w-100 m-auto">
            <form method="post" th:action="@{/login}">


                <p> using JWT Token</p>
                <p id="jwttoken">
                </p>


                <p id="message">
                </p>

                </p>


            </form>


        </main>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>


         function clear(){
             var jwttoken = localStorage.removeItem("JWT-TOKEN");
         }

        // js init
        $(document).ready(function(){

          var jwttoken = localStorage.getItem("JWT-TOKEN");

          checkToken();

          function checkToken(){

              console.log("refresh token" + jwttoken);

             if (jwttoken !== null){
                 $("#tokenv").html(""+jwttoken);
             }
         }

        });


    </script>

</section>
</body>

</html>