<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Page Title</title>
</head>
<body>
<section class="py-3 container">
    <div class="row py-lg-5">

        <main class="form-signin w-75 m-auto">

            <p class="lead text-body-secondary">Message</p>

            <div class="container-sm"  th:if="${message}">
                <form  th:action="@{/messages/delete}"  method="post" >

                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <p class="p-1 bg-body-tertiary border rounded-1" th:text="${message.created} ?: 'n/a'">Subject</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Sender</label>
                        <p class="p-1 bg-body-tertiary border rounded-1"th:text="${message.sender} ?: 'n/a'">Subject</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Subject</label>
                        <p class="p-1 bg-body-tertiary border rounded-1" th:text="${message.subject}">Subject</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Body</label>
                        <p class="p-3 bg-body-tertiary border rounded-1" th:text="${message.body}" >Body</p>
                    </div>

                    <div class="mb-4 d-flex ">
                        <a class="link-primary nav-link py-2 px-0 px-lg-2 " aria-current="true" href="/messages/all" >Back</a>
                        <a class="link-danger py-2 px-0 px-lg-2 " aria-current="true" th:href="@{'/messages/delete/' + ${message.id}}" >Delete</a>
                    </div>
                </form>
            </div>

        </main>


    </div>
</section>
</body>
</html>