<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Page Title</title>
</head>
<body>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Hello</h1>


            <div th:if="${username != null}">Logged as <strong th:text="${username}"></strong>
                <p><a href="/logout"> Sign Out</a></p>
            </div>

            <div th:if="${username == null}">
                <p class="lead text-body-secondary">Please Login</p>
                <a href="/login"> Login</a>
            </div>

        </div>


    </div>
</section>
</body>
</html>